[submodule "intended-learning-outcomes"]
	path = intended-learning-outcomes
	url = https://github.com/iticse26-wg11/intended-learning-outcomes.git
[submodule "learning-activities"]
	path = learning-activities
	url = https://github.com/iticse26-wg11/learning-activities.git
